<aside
    id="mobile-nav" class="w-64 min-h-screen bg-darkblue text-white fixed left-0 top-0 pt-40 shadow-lg z-40
           -translate-x-full transition-transform duration-300 ease-in-out sm:translate-x-0 sm:block" >
    <nav class="flex flex-col space-y-2 px-4 text-sm font-medium">
        <a href="/pages/dashboard.html" class="nav-link py-3 px-4 rounded flex items-center gap-2 transition">
            Tableau de bord
        </a>

        <a href="/pages/articles.html" class="nav-link py-3 px-4 rounded flex items-center gap-2 transition">
            Stock
        </a>

        <a href="/pages/categories.html" class="nav-link py-3 px-4 rounded flex items-center gap-2 transition">
            Catégorie
        </a>

        <a href="/pages/ventes.html" class="nav-link py-3 px-4 rounded flex items-center gap-2 transition">
            Ventes
        </a>

        <a href="depenses.html" class="nav-link py-3 px-4 rounded flex items-center gap-2 transition">
            Depenses
        </a>

        <a href="/pages/clients.html" class="nav-link py-3 px-4 rounded flex items-center gap-2 transition">
            Client
        </a>
        <a href="/pages/membres.html" class="nav-link py-3 px-4 rounded flex items-center gap-2 transition">
            Membres
        </a>

        <a href="/pages/parametre.html" class="nav-link py-3 px-4 rounded flex items-center gap-2 transition">
            Parametre
        </a>

        <hr class="#" />
        <a href="#" id="logout-button" class="py-3 px-4 rounded bg-red-500 hover:bg-red-600 transition">
            🔓 Se déconnecter
        </a>
    </nav>
</aside>