<div> <div id="table-desktop-container" class="overflow-x-auto w-full hidden sm:block">
        <table class="min-w-full divide-y divide-gray-200 text-sm text-left text-gray-700 bg-white shadow rounded-lg">
            <thead class="bg-darkblue text-white" id="table-head">
                </thead>
            <tbody class="divide-y divide-gray-200" id="table-body">
                </tbody>
        </table>
    </div>

    <div id="table-cards-mobile" class="sm:hidden space-y-4 mt-6">
        </div>
</div>